@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;  
}

body {
    font-family: "Roboto Slab", sans-serif;
}

/* navbar styling */

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--red);
    width: 100%;
    padding: 0.75rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

ul {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.25s ease-out;
}   

.nav-link:hover {
    color: var(--gray);
    transition: 0.25s ease-in;
}
/* navbar styling */

/* welcome styling */

#welcome-section {
    background: linear-gradient(to bottom, var(--red),var(--gray),var(--blue));
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        font-size: 2rem;
}

#welcome {
    color: var(--white);
    font-weight: 800;
}

#welcome-section p {
    color: var(--red);
    font-weight: 400;
    font-style: italic;

}

/* welcome styling */

/* projects syling */

#container {
    background-color: var(--gray);
    max-width: 100%;
    width: 100%;
    border-top: 5px solid black;
}

#container h1 {
    color:var(--white);
    padding: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

#work {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem;
    gap: 5rem;  
}

.project-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    height: auto;
    max-width: 100%;
    
}

.project-image:hover {
    border-radius: none;
}

figcaption {
    background-color: var(--blue);
    color: var(--white);
    text-decoration:none;   
    text-align: center;
    padding: 1.5rem;
    font-weight: 800;
    transition: 0.3s;
    height: auto;
    max-width: 100%;
}

figcaption a {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
        .code {
    transition: color 0.3s ease-out;
    color: var(--blue   );
}

}

figcaption a:hover {
    color: var(--white);
    font-size: 1.2rem;
    transition: 0.3s;
        .code {
            color:var(--red);
        gap: 1rem;
        transition: color 0.3s ease-out;
        }
}

/* projects syling */

/* about syling */

#contact {
    background-color: var(--blue);
    text-align: center;
    width: 100%;
    height: 20vh;
    color: var(--white);
    border-top: 5px solid black;
        h1 {
        padding: 1.5rem;
        }
}

.social {
    display: inline-block;
}

#profile-link {
    color:var(--white);
    font-size: 2rem;
}

#profile-link i {
    transition: 0.3s;
}

#profile-link i:hover {
    transform:scale(1.2);
    transition: 0.3s;
    padding-bottom:1rem;
    padding-top:1rem;
}

/* about syling */